{
  "extends": [
    "nextjs"
  ],
  "rules": {
    "indent": "off",
    "no-console": "off",
    "radix": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "no-debugger": "off",
    "max-len": [
      "error",
      {
        "code": 180
      }
    ]
  }
}