@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@font-face {
  font-family: Wulkan Display;
  src: url('/fonts/Wulkan/Wulkan-Display-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Wulkan/Wulkan-Display-Medium.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GT America;
  src: url('/fonts/GT-America/GT-America-Standard-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/GT-America/GT-America-Standard-Regular.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-white;
  }
}