@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family:"Wulkan Display" !important;
  font-display: swap;
  src: local('Wulkan Display'), url("/fonts/WulkanDisplay-Medium.otf") format("opentype");
}
html * 
{
  font-size: 4rem;
  color: #333333 !important;
  background-color: #F4F4F4 !important;
  font-family: "Wulkan Display" !important;

}
body{
  font-family: 'Wulkan Display' !important;
}
